{% extends "base.html" %}
{% load static %}




{% block content %}
<h1>Viabilidad de siembra</h1>

<form method="post">
    {% csrf_token %}
    <div>
        {{ form.municipality.label_tag }} {{ form.municipality }}
    </div>
    <div>
        {{ form.product.label_tag }} {{ form.product }}
    </div>
    <div>
        {{ form.sowing_date.label_tag }} {{ form.sowing_date }}
    </div>
    {{ form.temperature_c }}
    {{ form.rainfall_mm }}
    {{ form.humidity_pct }}

    <button type="submit">Calcular viabilidad</button>
</form>

{% if result %}
<hr>
<h2>Resultado para <strong>{{ form.cleaned_data.product }}</strong></h2>
<p><strong>Nivel:</strong> {{ result.level|title }} | <strong>Score:</strong> {{ result.score|floatformat:0 }}%</p>

<h3>Motivos:</h3>
<ul>
    {% for r in result.reasons %}
        <li>{{ r }}</li>
    {% endfor %}
</ul>

{% if alternatives %}
  <h3>3 cultivos recomendados para estas condiciones:</h3>
  <ol>
    {% for c in alternatives %}
      <li>{{ c.cultivo }} (score: {{ c.score }}%)</li>
    {% endfor %}
  </ol>
{% endif %}
{% endif %}
{% endblock %}